body {
  background-image: url("candy.jpg");
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12, 11, 11);
}

.container {
  background: rgb(255, 255, 255, 0.3);
  margin: auto;
  width: 80%;
  border: 3px solid pink;
  border-radius: 10px;
}

.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 20px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  color: black;
}

p {
  font-size: 35px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: larger;
  width: 300px;
  height: 70px;
  margin: 30px;
  border-radius: 5px;
}

#increment-btn {
  background: rgb(232, 232, 11);
  color: black;
}

#save-btn {
  background: rgb(222, 74, 98);
}
